@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

/* Swiper Theme Overrides */
:root {
  --swiper-theme-color: #d4af37;
  --swiper-navigation-size: 30px;
}

.swiper-pagination-bullet-active {
  background-color: #d4af37 !important;
}

.swiper-pagination-bullet {
  background-color: #ccc;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #d4af37;
}

/* Ensure pagination isn't too close to cards */
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px !important;
}

/* Custom Pagination Styling */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #d1d5db;
  /* gray-300 */
  border-radius: 9999px;
  opacity: 1;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #d4af37 !important;
  /* gold */
  width: 30px;
  /* pill shape */
  border-radius: 9999px;
}